body {
	background:#fff;
	color:#492200;
}
.ptop20 {
	padding-top:20px;
}
.color1 {
	color:#a9113c;
}
.color2 {
	color:#b00061;
}
.color3 {
	color:#d9232e;
}
.color4 {
	color:#cc8240;
}
.color5 {
	color:#fabf3a;
}
.color6 {
	color:#fd6b0d;
}
.color7 {
	color:#00af40;
}
.color8 {
	color:#8adc64;
}
.color9 {
	color:#f7e300;
}
.color10 {
	color:#f42434;
}
.color11 {
	color:#d8006c;
}
.color12 {
	color:#e74481;
}
.color13 {
	color:#4ec1ea;
}
.grey > *{
	color:grey!important;
}
.grey:hover {
		text-decoration:none;
}
.container {
	box-shadow:0 0 10px #6e6e6e;
}
.header {
		background:url('../../img/bg-header.png') repeat;
}
.menudiv .korz {
	background:#94d60a;
}
.menudiv .phones {
	background:#f7941d;
}
.logodiv {
	float:left;
	width:405px;
	margin:0 0 0 102px;
}
.menudiv {
	float:left;
	width:893px;
}
.navy {
	height:81px;
}
.navy ul {
	padding-top:18px;
}
.navy ul li {
	list-style:none;
	display:inline-block;
	font-weight:700;
	font-size:20px;
	line-height:1;
	padding:0px 40px;
}
.navy ul li a {
	color:inherit;
}
.navy ul li small{
	font-weight:100;
	font-size:13px;
}
.menudiv .korz {
	height:64px;
}
.menudiv .korz .col-lg-8{
	text-align:center;
}
.menudiv .korz .left{
	font-size:26px;
	font-weight:bold;
	padding:13px 0;
	background:url('../../img/icons/5min.png') no-repeat;
	background-position:100px 8px;
}
.menudiv .korz .left span {
	padding-left:50px;
}
.menudiv .korz .left span a {
	color:inherit;
}
.menudiv .korz .right{
	font-size:20px;
	text-align:left;
	font-weight:bold;
	padding:13px 0;
	background:url('../../img/icons/korz.png') no-repeat;
	background-position:30px 8px;
	line-height:1;
}
.menudiv .korz .right span {
	padding-left:90px;
}
.menudiv .korz .right span a {
	color:inherit;
}
.menudiv .korz .right small {
	font-size:14px;
	font-weight:200;
	padding-left:90px;
}
.menudiv .phones {
	height:64px;
	text-align:center
}
.menudiv .phones .col-lg-6{
	padding:8px 0;
}
.menudiv .phones .left {
	background:url('../../img/icons/phone.png') no-repeat;
	background-position:100px 8px;
}
.menudiv .phones .left span{
	padding-left:145px;
}

.menudiv .phones .right {
	background:url('../../img/icons/phone.png') no-repeat;
	background-position:65px 8px;
}
.menudiv .phones .right span{
	padding-left:80px;
}
.menudiv .phones span{
	font-size:32px;
	font-weight:bold;
}
.topbanners img {
	width:893px;
	height:376px;
}
.container .icons {
	text-align:center;
	padding:55px 0 50px 0;
}
.container .icons img {
	opacity:0.9;
}
.container .icons img:hover{
	opacity:1;
}
.icons .img1 {
	padding-left:140px;
}
.icons .img3 {
	padding-right:140px;
}
.ads img {
	opacity:0.9;
}
.ads img:hover {
	opacity:1;
}
.invite .col-lg-6 {
	text-align:center;
	margin:30px 0;
}
.invite .col-lg-6 span {
	font-size: 26px;
    font-weight: bold;
}
.invite .col-lg-6 + .col-lg-6{
	text-align:left;
	margin:25px 0px 0px 0px;
}
.invite .col-lg-6 + .col-lg-6 ul {
	padding:0px;
}
.invite .col-lg-6 + .col-lg-6 ul li {
	display:inline-block;
	list-style:none;
	padding:0px 25px;
}
.invite .col-lg-6 + .col-lg-6 ul li a{
	color:#f39200;
}
.invite .col-lg-6 + .col-lg-6 ul li a:hover{
	color:inherit;
}

.stol {
	background:#492200;
}
.stol .cover{
	padding-left:90px;
}
.stol .cover a{
	color:#fff;
}
.stol .cover .col-lg-4{
	text-align:center;
	color:#fff;
	font-weight:bold;
	font-size:12px;
	position:relavite;
}
.stol .cover .onhover {
	position:absolute;
	top:0px;
	left:0px;
	width:340px;
	height:128px;
	z-index:99;
	border-radius:70px;
	margin-left:17px;
	display:none;
}
.bcolor1 {
	background:#a9113c;
}
.bcolor2 {
	background:#b00061;
}
.bcolor3 {
	background:#d9232e;
}
.bcolor4 {
	background:#cc8240;
}
.bcolor5 {
	background:#fabf3a;
	color:#492200;
}
.bcolor6 {
	background:#fd6b0d;
	color:#492200;
}
.bcolor7 {
	background:#00af40;
	color:#492200;
}
.bcolor8 {
	background:#8adc64;
	color:#492200;
}
.bcolor9 {
	background:#f7e300;
	color:#492200;
}
.bcolor10 {
	background:#f42434;
}
.bcolor11 {
	background:#d8006c;
}
.bcolor12 {
	background:#e74481;
}
.bcolor13 {
	background:#4ec1ea;
	color:#492200;
}
.onhover .image {
	float:left;
	width:125px;
	padding:8px 0px 9px 6px;
	text-align:left;
}
.onhover .desc {
	float:left;
	width:185px;
	text-align:left;
	padding:10px 0;
}
.onhover .desc hr {
	margin:10px 0;
}
.stol .cover .title {
	padding-bottom:10px;
}
.stol .cover .title span{
	text-align:left;
	color:#ee8e1b;
	font-weight:bold;
	font-size:14px;
	padding-left:15px;
}
.stol h1 {
	background:#f7941e;
	padding:25px 25px 25px 100px;
	border-radius:0px 50px 50px 0px;
	float:left;
	font-weight:bold;
	margin:30px 0px;
}

.green-palace {
	display:block;
	width:816px;
	height:754px;
	background:url('../../img/circle-green.png') no-repeat;
	background-position:20px 0px;
	padding:40px 0 0 0 ;
}
.green-palace .row{
	padding:5px;
}
.green-palace .big .col-lg-4{
	text-align:right;
}
.green-palace .big .col-lg-4 + .col-lg-4{
	text-align:center;
}
.green-palace .big .col-lg-4 + .col-lg-4 + .col-lg-4{
	text-align:left;
}
.cover .ngrey {
	display:none;
}
.raschet {
	background:#492200;
	color:#fff;
}
.tablediv {
	background:#f7941d url('../../img/bg-halfcircle.png') no-repeat center 0;
	color:#fff;
}
.centerdiv {
	width:800px;
	margin:0px auto;
}
.raschet table {
	width:800px;
	font-weight:bold;
	font-size:16px;
	line-height:2;
}
.raschet table .title {
	font-weight:normal;
	font-size:14px;
	border-bottom:2px solid #fff;
}
.raschet table .tovar {
	border-bottom:1px solid #fff;
	display:block;
}
.raschet tr:hover {
	background:#666;
}
.raschet .title:hover {
	background:none;
}
.bottable tr:hover {
	background:none;
}
.raschet tr th {
	width:50%;
	text-align:left;
	padding-left:10px;
}
.raschet tr th + th {
	width:5%;
	text-align:center;
}
.raschet tr th + th + th {
	width:5%;
		text-align:center;
}
.raschet tr th + th + th + th{
	width:5%;
	text-align:center;
}
.raschet tr th + th + th + th + th{
	width:10%;
	text-align:center;
}
.raschet tr th + th + th + th + th + th{
	width:25%;
	text-align:center;
}
.raschet tr td {
	width:50%;
	text-align:left;
	padding-left:10px;
}
.raschet tr td + td {
	width:5%;
	text-align:center;
}
.raschet tr td + td + td {
	width:5%;
		text-align:center;
}
.raschet tr td + td + td + td{
	width:5%;
	text-align:center;
}
.raschet tr td + td + td + td + td{
	width:10%;
	text-align:center;
}
.raschet tr td + td + td + td + td + td{
	width:25%;
	text-align:center;
}
.sposobioplati {margin-top:20px;}
.sposobioplati span {
	line-height:2;
}
.sposobioplati .beznal {
	background:url(../../img/visa-mc.png) no-repeat 100% 0%;
}
.sposobioplati italic {
	font-style:italic;
}
.moreinfo {
	padding-top:10px;
}
.moreinfo input {
	margin-left:60px;
	width:560px;
	height:100px;
	border-radius:20px;
	border:0px;
	color:#000;
	padding:0 0 0 10px;
	font-size:24px;
	outline:none;
}
.moreinfo input:hover {
	outline:none;
}
.subbut {
	text-align:center;
	margin:20px 0 20px 0;
	padding-bottom:50px;
}
.subbut button {
	padding:10px 50px;
	border:6px solid #4ec1ea;
	border-radius:60px;
	font-size:32px;
	color:#fff;
	background:none;
	outline:none;
	outline:none;
}
.subbut button:hover {
	border:6px solid #f7941e;
	outline:none;
}
.subbut button:focus {
	border:6px solid #f7941e;
	outline:none;
}
.infoarea {
	font-weight:bold;
	background:#f7941d;
	font-size:18px;
}
.infoarea .left {
	padding:10px 20px 10px 100px;
}
.infoarea .right {
	padding:10px 20px 10px 10px;
}
.about h1 {
	 background: #f7941e none repeat scroll 0 0;
    border-radius: 0 50px 50px 0;
    float: left;
    font-weight: bold;
    margin: 30px 0;
    padding: 25px 25px 25px 100px;
}
.about .text {
	padding:40px;
	font-size:18px;
	line-height:1.5;
}
.otzivi h1 {
	 background: #f7941e none repeat scroll 0 0;
    border-radius: 0 50px 50px 0;
    float: left;
    font-weight: bold;
    margin: 30px 0;
    padding: 25px 25px 25px 100px;
}
.otzivi .otvet {
	margin:10px 200px;
	border-bottom:1px solid #000;
}
.otzivi .otvet .name {
	font-size:24px;
	font-weight:bold;
}
.otzivi .otvet .text {
	font-size:14px;
	font-weight:bold;
}
.otzivi .otvet .time {
	font-size:14px;
}
.otzivi .moreotz {
	text-align:center;
}
.otzivi .moreotz button{
	text-align:center;
	background:#492200;
	border:0px;
	border-radius:40px;
	color:#fff;
	font-size:18px;
	font-weight:700;
	padding:10px 50px;
}
.otzivi .moreotz button:hover {
	background:#f7941e;
}
.contacts h1 {
	background: #f7941e none repeat scroll 0 0;
    border-radius: 0 50px 50px 0;
    float: left;
    font-weight: bold;
    margin: 30px 0;
    padding: 25px 25px 25px 100px;
}
.footer {
	background:#492200;
	font-size:18px;
	font-weight:bold;
}
.footer .col-lg-4 {
	padding:100px;
}
.footer ul li {
	list-style:none;
	line-height:2;
}
.footer a {
		color:#f7941d;
}
.bottom {
	background:#f7941d;
	height:76px;
}
.bottom a {
	color:#492200;
}
.bottom ul {
	padding-top:19px;
}
.bottom ul li {
	display:inline-block;
	list-style:none;
	padding:0px 20px;
}
.bottom ul li span {
color:#f7941d;
}
.bottom ul li span .orange{
color:#492200;
}
.bottom ul li span:hover {
color:#fff;
}
.bottom .copy {
	padding:18px 0px 0px 140px;
}
.bottom .centerblock {
	text-align:center;
}
.bottom .create {
	padding:18px 0px 0px 50px;
}
.pagebutton {
	position:fixed;
	right:10px;
	z-index:9999;
	opacity:0.9;
}
.pagebutton:hover {
	opacity:1;
}

/**************** Организация стола ******************/
.green-palace .item {
	position:relative;
}
.green-palace .row1{
	height:129px;
}
.green-palace .row2{
	height:131px;
}
.green-palace .big {
	height:165px;
}
.green-palace .row4{
	height:130px;
}
.green-palace .row5{
	height:131px;
}
.green-palace .item .close{
	position:absolute;
	color:#000;
	background:#fff;
	border-radius:21px;
	opacity:1;
}
.green-palace .small .item .close{
	top:75px;
	left:100px;
}
.green-palace .big .st1 .close{
	top:95px;
	left:250px;
}
.green-palace .big .st2 .close{
	top:95px;
	left:190px;
}
.green-palace .big .st3 .close{
	top:95px;
	left:140px;
}
.green-palace .item .close i{
	padding:0 2px;
}
.green-palace .item .close i:hover{
	color:red;
}
.item {
	display:none;
}
.click:hover {
	cursor:pointer;
	text-decoration:underline;
}
.click + span:hover {
	cursor:pointer;
	text-decoration:underline;
}
.normcol:hover {cursor:pointer;}

.bottable {border-top:2px solid #fff;}
.arrows {cursor:pointer;color:#4ec1ea;}
#maintable img {
	display:block;
	width:10px;
	height:10px;
	border:1px solid red;
}
.modal-forms {
    font-family: Segoe UI;
    margin: 30px auto;
    padding-top: 30px;
    width: 815px;
	background:#fff;
}
.modal-header {
    border-bottom: medium none;
    min-height: 16.4286px;
    padding: 0;
}
.modal-header .close {
    color: #ffffff;
    height: 45px;
    margin-top: 0;
    opacity: 1;
    width: 50px;
}
.modal-header .close-forms {
    color: #000000;
    height: 45px;
    margin-top: 0;
    width: 50px;
}
.modal-header .close-forms:hover {
    color: #e38d13;
    font-weight: bold;
    opacity: 1;
}
.modal-title {
    color: #48240e;
    padding: 15px 0 20px 0;
	background:#f69520;
	font-size:30px;
	text-align:center;
	font-weight:700;
}
.modal-body {
    height: 400px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    width: 808px;
}
.modal-body-forms {
    padding:50px 150px;
    text-align:center;
}
.modal-body-forms h3 {
	text-align:left;
}
.modal-body .container {
    padding-bottom: 0;
}
.modal .modal-body img {
    max-height: 380px;
    max-width: 529px;
}
.form-control {
	height:50px;
	font-size:16px;
	border:2px solid #502c1c;
	padding-left:20px;
}
.topPad20 {
	padding-top:20px;
}
.padLeft20 {
	padding-left:20px;
}
.padBot50 {padding-bottom:50px;}
.modalPhone {
	border-radius:30px;
}
.modalStreet {
	border-radius:30px;
}
.modalHome {
	width:245px;
	border-radius:30px;
}
.modalNumberHome {
	width:245px;
		border-radius:30px;
}
.modalFlour {
	width:245px;
		border-radius:30px;
}
.modalNumber {
	width:245px;
		border-radius:30px;
}
.modalSubmit {
	padding:10px 20px 15px;
	background:#ec1d25;
	border-radius:30px;
	color:#fff;
	text-decoration:none;
	font-size:18px;
}
.modalSubmit:hover {
	text-decoration:none;
	color:#fff;
	background:#ca1a21;
}
.modalSubmit:focus {
	text-decoration:none;
	color:#fff;
	background:#ca1a21;
	outline:0px;
}
.radio {
	height:20px;
	margin:5px;
	width:20px;
}
#formSussecc {
	display:none;
	text-align:center;
	padding:50px 150px;
}
#formError {
	display:none;
	text-align:center;
	padding:50px 150px;
	color:red;
}


/************************************************* Мобильная версия ************************************************/
.sm-logo {
	height:auto;
	text-align:center;
	background:#492200 url('../../img/sm-logo.png') no-repeat;
	background-size:contain;
	background-position:50% 50%;
}
/*
.sm-logo a {
	display:block;
}
.sm-logo img {
	width:60%;
	position:absolute;
	top:10%;
	bottom:50%;
	left:20%;
}*/
.sm-menu {
	max-height:68px;
}
.sm-menu ul {
	padding:5px 0 5px 0;
	margin-bottom:0;
}
.sm-menu ul li{
	list-style:none;
	text-align:center;
	padding:5px;
}
.sm-menu ul li a{
	color:#492200;
}
.sm-menu ul li a:hover{
	color:#492200;
	text-decoration:underline;
}
.sm-phones {
	background:#f7941d;
	text-align:center;
	padding:5px 0;
}
.sm-phones p {
	width:100%;
	color:#492200;
	font-size:1.5em;
	font-weight:bold;
	margin:5px;
}
.xs-phones {
	background:#f7941d;
	text-align:center;
	padding:5px 0;
}
.xs-phones p {
	width:100%;
	color:#492200;
	font-size:1em;
	font-weight:bold;
	margin:5px;
}
.sm-meta {
	background:#94d60a;
	padding:5px;
	text-align:center;
}
.sm-meta p{
	width:100%;
	color:#492200;
	font-size:1.2em;
	font-weight:bold;
	margin:auto;
}
.sm-meta span{
	color:#492200;
	font-size:1.2em;
	font-weight:bold;
}
.sm-meta span a{
	color:#492200;
	font-size:1.2em;
	font-weight:bold;
}







	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	