.picnicModal {
  h3 {
    text-align:center;
  }
  padding:1px 50px 50px;
   .tablePrise {
     h3 {
       text-align:center;
       font-size:14px;
     }
     h4 {
       text-align:center;
       font-size:16px;
     }
     table {
       td {
         text-align:center;
         font-size:12px;
         vertical-align:middle;
       }
     }
  }
}
.iconsDescription {
  padding:10px 110px 0 110px;
  .col-lg-4 {
    padding:20px 20px 0 20px;
    text-align:center;
    .panel {
      .panel-body {
        height:460px;
      }
    }
  }
}

.invite {
  background: #94d60a;
  margin:50px 0 0 0;
}

.contactsBg {
  background: url('../img/contacts.png') no-repeat;
  background-size: 70%;
  background-position: 50px 30px;
  ul {
    li {
      a {
        color:#000;
        padding:5px;
        background: rgba(255,255,255,80%);
      }
    }
  }
}

.green-palace {
  .raspolojenie {
    height:1067px;
    background:url('../img/circle-green.png') 20px 0 no-repeat;
    .item {
      .number {
        position:absolute;
        right:10%;
        top:10%;
        .number-bg {
          width:25px;
          height:25px;
          background: #fff;
          color:#000;
          position:relative;
          text-align:center;
          font-size:12px;
          font-weight:bold;
          padding:5px 0 0 0;
          border-radius:50%;
          i {
            opacity:0;
          }
          &:hover {
            i {
              opacity:1;
            }
          }
          .fa-angle-up {
            position:absolute;
            top:-17px;
            left:5px;
            color:darkred;
            cursor:pointer;
            &:hover {
              color:red;
            }
          }
          .fa-angle-down {
            position:absolute;
            bottom:-17px;
            left:5px;
            color:darkred;
            cursor:pointer;
            &:hover {
              color:red;
            }
          }
        }
      }
    }

  }
}

